
body{
padding:0px;
margin:0px;
background-color:white;
}


.container{
height:470px;
width:320px;
margin:auto;
margin-top:50px;
border-radius:12px;
background-color:rgb(52, 52, 52);
box-shadow:0px  0px 60px gray;
}

span{
color:white;
padding:4px;
margin-left:10px;
}


input{
height:44px;
width:91%;
font-size:20px;
margin:auto;
outline:none;
margin-top:13px;
margin-left:11px;
border-radius:8px;
color:white;
text-align:right;
background-color:rgb(53, 57, 53);
border:1px solid gray;
}

.btn{
margin-left:18px;
margin-top:12px;
}

.btn input[type="button"]{
width:60px;
height:60px;
padding:3px;
margin-left:0px;
margin:6px 4px;
font-size:19px;
cursor:pointer;
border-radius:50%;
color:white;
font-size:23px;
text-align: center;
background-color:rgb(40, 40, 43);
border:0px solid black;
box-shadow:0px  0px 8px lightgray;
} 

.btn input[type="button"]:hover{
background-color:rgb(52, 52, 52);
color:white;
}
